
@charset "UTF-8";

p {
    border: 1px solid #EEE;
}

h1, h2, h3, h4, h5, h6, h7 {
    border: 0px solid #333;
    border-width: 0 0 1px 0;
    padding-top: 0.2em;
    margin: 0.2em 0;
}

h1:before,
h2:before,
h3:before,
h4:before,
h5:before,
h6:before,
h7:before {
    display: inline-block;
    width: 25px;
    background: #333;
    margin: 0 10px 0 -30px;
    padding: 0;
    text-align: center;
    color: #999;
    font-size: 12px;
    font-weight: normal;
}

h1:before { content:"H1"; }
h2:before { content:"H2"; }
h3:before { content:"H3"; }
h4:before { content:"H4"; }
h5:before { content:"H5"; }
h6:before { content:"H6"; }
h7:before { content:"H7"; }

.clearfix:after {
	content: "";
	display: block;
	height: 0;
	font-size:0;
	clear: both;
	visibility:hidden;
}

i.fa:before {
    content: "■";
}